.sub-box
  .title-wrapper
    %h2= link_to team.name, team
  .big-links
    - if Membership.find_by(user_id: @user.id, team_id: team.id).admin == true
      %span
        = link_to "", team, class: "fa fa-trash", method: :delete, data: { confirm: "Are you sure? All other members will lose access to this team" }
      %span
        = link_to "", edit_team_path(team), class: "fa fa-pencil-square-o"
      - if team.public == 1 && !team.users.include?(current_user)
        %span
          = link_to "Join", team_memberships_path(team), method: :post
  .sub-info
    = pluralize team.users.count, "Member"
  - team.users.each do |user|
    = image_tag user.picture.url,
      size: "39x39",
      class: "small-pic"
