<div class="sub-box">
  <div class="title-wrapper">
    <h2><%= link_to team.name, team %></h2>
  </div>
  <div class="big-links">
    <% if Membership.find_by(
    user_id: @user.id,
    team_id: team.id).admin == true %>
      <span>
        <%= link_to "",
        team,
        class: "fa fa-trash",
        method: :delete,
        data: { confirm: "Are you sure? All other members will lose access to this team" } %>
      </span>
      <span>
        <%= link_to "",
        edit_team_path(team),
        class: "fa fa-pencil-square-o" %>
      </span>
      <% if team.public == 1 &&
      !team.users.include?(current_user) %>
        <span>
          <%= link_to "Join",
          team_memberships_path(team),
          method: :post %>
        </span>
      <% end %>
    <% end %>
  </div>
  <div class="sub-info">
    <%= pluralize team.users.count, "Member" %>
  </div>
  </br>
  <% team.users.each do |user| %>
    <%= image_tag user.picture.url,
    size: "39x39",
    class: "small-pic" %>
  <% end %>
</div>
