<%= provide(:title, "Teams") %>

<div class="split-layout">
  <div class="main">
    <div class="box">
    <h2>Your Teams</h2>
    <% if @teams.any? %>
      <% @teams.each do |team| %>
    <div class="sub-box">
      <div class="title-wrapper">
        <h2><%= link_to team.name, team %></h2>
      </div>
      <div class="big-links">
        <% if Membership.find_by(user_id: @user.id, team_id: team.id).admin == true %>
          <span>
            <%= link_to "", team,
              class: "fa fa-trash",
              method: :delete,
              data: { confirm: "Are you sure? All other members will lose access to this team" } %>
          </span>
          <span>
            <%= link_to "", edit_team_path(team), class: "fa fa-pencil-square-o" %>
          </span>
          <% if team.public == 1 && !team.users.include?(current_user) %>
            <span>
              <%= link_to "Join", team_memberships_path(team), method: :post %>
            </span>
          <% end %>
        <% end %>
      </div>
      <div class="sub-info">
        <%= pluralize team.users.count, "Member" %>
      </div>
      </br>
      <% team.users[0..11].each do |user| %>
        <%= image_tag user.picture.url, size: "39x39", class: "small-pic" %>
      <% end %>
    </div>
      <% end %>
    <% else %>
      <div class="box">
        <p>You're not a member of any teams. Create a team using the form on the right</p>
      </div>
    <% end %>
    <h2>Public Teams</h2>
    <% Team.where(public: 1).each do |team| %>
    <% unless team.users.include?(current_user) %>
      <div class="sub-box">
        <div class="title-wrapper">
          <h2><%= link_to team.name, team %></h2>
        </div>
        <div class="big-links">
          <% if Membership.find_by(user_id: @user.id, team_id: team.id) && Membership.find_by(user_id: @user.id, team_id: team.id).admin == true %>
            <span>
              <%= link_to "", team,
                class: "fa fa-trash",
                method: :delete,
                data: { confirm: "Are you sure? All other members will lose access to this team" } %>
            </span>
            <span>
              <%= link_to "", edit_team_path(team), class: "fa fa-pencil-square-o" %>
            </span>
          <% end %>
          <% if team.public == 1 && !team.users.include?(current_user) %>
            <span>
              <%= link_to "Join", team_memberships_path(team), method: :post %>
            </span>
          <% end %>
        </div>
        <div class="sub-info">
          <%= pluralize team.users.count, "Member" %>
        </div>
        </br>
        <% team.users[0..11].each do |user| %>
          <%= image_tag user.picture.url, size: "39x39", class: "small-pic" %>
        <% end %>
      </div>
    <% end %>
    <% end %>
  </div>

  </div>
  <div class="aside">
    <%= render 'teams/team_form' %>
    <div class="box">
      <%= "You're a member of " + pluralize(@user.teams.count, "team") %>
    </div>
  </div>
</div>
