.tasks
  - unless @tasks.any?
    %br/
    %p This category is empty. Create a new task by clicking the plus icon.
  - else
    - if @category && completed_tasks(@tasks.first.category) != 0
      %p.toggle.toggle-completed Toggle Completed
    - @tasks.each do |task|
      - unless task.id.nil?
        %div{class: task.completed ? "completed-task" : "task"}
          = link_to complete_path(task), remote: true, method: :patch, data: { params: :task } do
            .tickbox
              %span
                %i.fa.fa-check
          .info
            %li.task-content= task.content
            %li
              - d = task.deadline_date
              - t = task.deadline_time
              %span{class: task.overdue? ? "sub-info task-overdue-deadline" : "sub-info"}
                = deadline_date(d) + comma(d, t) + deadline_time(t)
              - if task.repeat == 1
                %span.sub-info.task-repeat= task.repeat_message
            - if !task.notes.blank?
              %span.toggle.toggle-more More
              %li.task-more= task.notes
          %span.menu-toggle
            %i.fa.fa-cog
          .task-menu
            %li.action-link.delete-task
              = link_to "Delete", task, method: :delete, remote: true
            %li.action-link.edit-task
              = link_to "Edit", edit_task_path(task)
            %li.action-link.move-task
              = link_to "Move", move_form_path(task)
