<div class="centre-form">
  <h2><%= yield(:title) %></h2>
  <%= form_for [@category, @task] do |f| %>
    <div class="input-group">
      <%= f.text_field :content, placeholder: "Task", class: "form-control" %>
      <span class="input-group-btn">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </span>
    </div>
    <%= f.label "Due Date" %>
    <%= f.date_field :deadline_date, class: "form-control" %>
    <%= f.time_field :deadline_time, class: "form-control" %>
    <li class="form-control"><%= f.check_box :repeat %><%= f.label "repeat task?" %></li>
    <div class="input-group form-control">
      <%= f.label "Every " %>
      <%= f.number_field :repeat_number %>
      <%= f.select :repeat_period, [["Day"], ["Week"], ["Month"], ["Year"]] %><%= f.label " (s)" %>
    </div>
    <%= f.text_area :notes, placeholder: "Notes", class: "form-control" %>
    <%= f.label "Upload Docs: " %>
    <li class="form-control">
      <%= f.file_field :content %>
    </li>
  <% end %>
  </br>
  <%= link_to "Back", categories_path %>
</div>
