<div class="tasks">
  <% if @tasks.any? %>
    <% if @category &&
    completed_tasks(@tasks.first.category) != 0 %>
      <p class="toggle toggle-completed">Toggle Completed</p>
    <% end %>
  <% else %>
    <p>This category is empty. Create a new task by clicking the plus icon.</p>
  <% end %>
  <% @tasks.each do |task| %>
    <% unless task.id.nil? %>
      <% if task.completed == false %>
        <div class="task">
      <% else %>
        <div class="completed-task">
      <% end %>
        <%= link_to category_complete_path(task.category, task),
        remote: true,
        method: :patch,
        data: { params: :task } do %>
          <div class="tickbox"><span>
            <i class="fa fa-check"></i>
          </span></div>
        <% end %>
        <div class="info">
          <li class="task-content"><%= task.content %></li>
          <li>
            <% d = task.deadline_date
               t = task.deadline_time %>
            <% if (d && !t && d < Time.now && !task.completed) ||
            (d && t && !task.completed &&
            (d + t.seconds_since_midnight.seconds).to_datetime < Time.now) %>
              <span class="sub-info task-overdue-deadline">
            <% else %>
              <span class="sub-info">
            <% end %>
                <%= deadline_date(d) +
                comma(d, t) +
                deadline_time(t) %>
              </span>
            <% if task.repeat == 1 %>
              <span class="sub-info task-repeat">
                <%= task.repeat_message %>
              </span>
            <% end %>
          </li>
        <% if !task.notes.blank? %>
          <p class="toggle toggle-more">Show More</p>
          <li class="task-more">
            <%= task.notes %>
          </li>
        <% end %>
        </div>
        <div class="small-links">
          <span class="action-link delete-task">
            <%= link_to "",
            [task.category, task],
            method: :delete,
            class: "fa fa-trash",
            remote: true %>
          </span>
          <span class="action-link edit-task">
            <%= link_to "",
            edit_category_task_path(task.category, task),
            class: "fa fa-pencil-square-o" %>
          </span>
          <span class="action-link move-task">
            <%= link_to "",
            category_move_form_path(task.category, task),
            class: "fa fa-arrow-left",
            title: "Move to another Category" %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
