<div class="centre-form">
  <h2><%= yield(:title) %></h2>
  <%= form_for [@category, @task] do |f| %>
    <div class="input-group">
      <%= f.text_field :content, placeholder: "Task", class: "form-control" %>
      <span class="input-group-btn">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </span>
    </div>
    <div class="form-control">
      <%= "Date: " %>
      <%= f.date_field :deadline_date %>
    </div>
    <div class="form-control">
      <%= "Time: " %>
      <%= f.time_field :deadline_time %>
    </div>
    <div class="input-group form-control">
      <%= f.check_box :repeat %><%= " Repeat" %>
      <span id="repeat-input">
        <%= " every" %>
        <span><%= f.number_field :repeat_number, placeholder: " x" %></span>
        <span><%= f.select :repeat_period, [["Day(s)", "Day"], ["Week(s)", "Week"], ["Month(s)", "Month"], ["Year(s)", "Year"]] %></span>
      </span>
    </div>
    <%= f.text_area :notes, placeholder: "Notes", class: "form-control" %>
    <%= f.label "Upload Docs: " %>
    <%= f.file_field :content %>
  <% end %>
  </br>
  <%= link_to "Back", categories_path %>
</div>
