<%= provide(:title, "Edit Account") %>
<%= provide(:button_text, "Update") %>
<div class="box">
  <div class="sub-box">
    <h2><%= yield(:title) %></h2>
    <%= render 'shared/form' %>
  </div>
  <div class="sub-box">
    <h2>Upload Profile Picture</h2>
    <%= form_for @user do |f| %>
      <%= f.hidden_field :name, placeholder: "Username", class: 'form-control' %>
      <%= f.file_field :picture %>
      </br>
      <%= f.submit "Upload", class: "btn btn-primary" %>
    <% end %>
  </div>
  </br>
  <%= link_to "Back", @user %>
</div>
