<%= provide(:title, "Edit Account") %>
<%= provide(:button_text, "Update") %>

<div class="box">
  <h2><%= yield(:title) %></h2>
  <%= render 'shared/form' %>
</div>
<div class="box">
  <h2>Upload Profile Picture</h2>
  <%= form_for @user do |f| %>
    <%= f.hidden_field :name, placeholder: "Username", class: 'form-control' %>
    <%= f.file_field :picture %>
    </br>
    <%= f.submit "Upload", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="box">
  <%= link_to "Back", user_path(@user) %>
</div>
