= provide(:title, "Profile")
.split-layout
  .main
    .box
      .title-wrapper
        %h2= @user.name
      .sub-box
        %li= image_tag current_user.picture.url, size: "150x150"
      .sub-box
        %h2 Account
        %li= link_to "Edit profile", edit_user_path(@user)
        %li= link_to "Sign Out", signout_path, method: :delete
        %li= link_to "Delete Account", current_user, method: :delete, data: { confirm: "Are you sure? All your data will be lost" }
  .aside
    .box
      .title-wrapper
        %h2 Statistics
      .sub-box
        %li= pluralize(total_tasks, "total task")
        %li= pluralize(overdue_tasks, "overdue task")
        %li
          = pluralize(today_tasks, "task")
          due today
        %li
          = pluralize(week_tasks, "task")
          due this week
