<div class="items">
  <% @items.each do |item| %>
    <% unless item.id.nil? %>
      <div class="item item-<%= item.id %>">
        <div class="tickbox"><span></span></div>
        <div class="info">
          <span class="item-content"><%= item.content %></span>
          <li class="item-deadline">
            <%= deadline_date(item.deadline_date) +
            comma(item.deadline_date, item.deadline_time) +
            deadline_time(item.deadline_time) %>
          </li>
        </div>
        <div class="links">
          <span class="delete-item">
            <%= link_to "", [item.category, item], method: :delete, class: "fa fa-trash" %>
          </span>
          <span class="edit-item">
            <%= link_to "", edit_category_item_path(item.category, item), class: "fa fa-pencil-square-o" %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
