<div class="items">
  <% if @items.any? %>
    <% if @category && completed_items(@items.first.category) != 0 %>
      <p class="toggle-completed">Toggle Completed</p>
    <% end %>
  <% else %>
    <p>This category is empty. Create a new task by clicking the plus icon.</p>
  <% end %>
  <% @items.each do |item| %>
    <% unless item.id.nil? %>
      <% if item.completed == false %>
        <div class="item">
      <% else %>
        <div class="completed-item">
      <% end %>
        <%= link_to category_complete_path(item.category, item) do %>
          <div class="tickbox"><span>
            <i class="fa fa-check"></i>
          </span></div>
        <% end %>
        <div class="info">
          <span class="item-content"><%= item.content %></span>
          <% d = item.deadline_date
             t = item.deadline_time %>
          <% if (d && !t && d < Time.now && !item.completed) ||
                (d && t && !item.completed &&
                (d + t.seconds_since_midnight.seconds).to_datetime < Time.now) %>
              <li class="sub-info item-overdue-deadline">
          <% else %>
              <li class="sub-info">
          <% end %>
            <%= deadline_date(d) +
                comma(d, t) +
                deadline_time(t) %>
          </li>
        </div>
        <div class="small-links">
          <span class="action-link delete-item">
            <%= link_to "", [item.category, item], method: :delete, class: "fa fa-trash" %>
          </span>
          <span class="action-link edit-item">
            <%= link_to "", edit_category_item_path(item.category, item), class: "fa fa-pencil-square-o" %>
          </span>
          <span class="action-link move-item">
            <%= link_to "", category_move_form_path(item.category, item), class: "fa fa-arrow-left" %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
