<%= provide(:button_text, "Sign In") %>
<% if signed_in? %>
  <div class="items-collation items">
    <% @items.each do |item| %>
      <div class="item item-<%= item.id %>">
        <div class="tickbox-container">
          <div class="tickbox"><span></span></div>
        </div>
        <div class="info">
          <span class="item-content"><%= item.content %></span>
          <li class="item-deadline">
            <%= deadline_date(item.deadline_date) +
            comma(item.deadline_date, item.deadline_time) +
            deadline_time(item.deadline_time) %>
          </li>
        </div>
        <div class="links">
          <span class="delete-item">
            <%= link_to "", '#', method: :delete, class: "fa fa-trash" %>
          </span>
          <span class="edit-item">
            <%= link_to "", '#', class: "fa fa-pencil-square-o" %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h2>Sign In</h2>
  <%= render 'users/signin' %>
<% end %>
