<% if signed_in? %>
  <%= provide(:title, "Calendar") %>
  <%= render 'shared/items' %>
<% else %>
  <%= provide(:title, "Sign In") %>
  <%= provide(:button_text, "Sign In") %>
  <div class="user">
    <%= render 'users/signin' %>
  </div>
<% end %>
