= provide(:title, "Inbox")
.split-layout
  .main
    .box
      .title-wrapper
        %h2 Team Invites
      - if current_user.received_invites.count == 0
        %p You currently have no team invites
      - else
        - current_user.received_invites.each do |invite|
          .sub-box
            %span.task-content= Team.find(invite.team_id).name
            = link_to "", invite, method: :delete, class: "fa fa-trash"
            %p.sub-info
              ="From: #{User.find(invite.sender_id).email}"
            = link_to "Join", team_memberships_path(invite.team), method: :post
    .box
      .title-wrapper
        %h2 Task Allocations
      - if current_user.received_allocations.count == 0
        %p You currently have no task allocations to review
      - else
        - current_user.received_allocations.each do |allocation|
          %div.task
            .tickbox
              %span
                %i.fa.fa-check
            .info
              %li.task-content= allocation.task.content
              %li
                - d = allocation.task.deadline_date
                - t = allocation.task.deadline_time
                %span{class: allocation.task.overdue? ? "sub-info task-overdue-deadline" : "sub-info"}
                  = deadline_date(d) + comma(d, t) + deadline_time(t)
                - if allocation.task.repeat == 1
                  %span.sub-info.task-repeat= allocation.task.repeat_message
              - if !allocation.task.notes.blank?
                %span.toggle.toggle-more More
                %li.task-more= allocation.task.notes
            =link_to "Accept", move_form_path(allocation.task)
            =link_to "Remove", allocation, method: :delete
          %br/
          %li="From #{User.find(allocation.sender_id).name} in the team #{Team.find(allocation.team_id).name}."
  .aside
