<% @user.categories.each do |category| %>
  <% unless category.id.nil? %>
    <div class="category" id='<%= category.id %>'>
      <span class="category-title">
        <%= link_to category.title, category_path(category) %>
      </span>
      <span class="delete-category">
        <%= link_to "", category, method: :delete, class: "fa fa-trash", data: { confirm: "Are you sure? All items inside '" + category.title + "' will be lost." } %>
      </span>
      <span class="edit-category">
        <%= link_to "", edit_category_path(category), class: "fa fa-pencil-square-o" %>
      </span>
      <li class="item-count">
        <%= item_count(category) %>
      </li>
    </div>
  <% end %>
<% end %>
