<div class="main">
  <% if @user.categories.count == 0 %>
    <div class="box">
      <p>You currently have no categories... Make some using the form on the right.</p>
    </div>
  <% end %>
  <% @user.categories.each do |category| %>
    <% unless category.id.nil? %>
      <div class="box" id='<%= category.id %>'>
        <div class="title-wrapper">
          <span class="category-title">
            <%= category.title %>
          </span>
        </div>
        <div class="big-links">
          <span class="delete-category">
            <%= link_to "", category, method: :delete, remote: true, class: "fa fa-trash", data: { confirm: "Are you sure? All tasks inside '" + category.title + "' will be lost." } %>
          </span>
          <span class="edit-category">
            <%= link_to "", edit_category_path(category), class: "fa fa-pencil-square-o" %>
          </span>
          <span class="new-task">
            <%= link_to "", new_category_task_path(category), class: "fa fa-plus" %>
          </span>
        </div>
        <li class="sub-info">
          <%= pluralize(task_count(category), "task") %>
        </li>
      </br>
        <% @tasks = category.tasks %>
        <%= render 'categories/tasks/tasks' %>
      </div>
    <% end %>
  <% end %>
</div>
