= provide(:title, "Manage Tasks")
= provide(:button_text, "Add")
.split-layout
  = render 'categories'
  .aside
    = render 'category_form'
    = render 'shared/statistics'
    = render 'shared/allocations'
