= provide(:title, "Manage Tasks")
= provide(:button_text, "Add")
.split-layout
  = render 'categories'
  .aside
    = render 'category_form'
    = render 'shared/allocations'
    .box
      %p= pluralize(current_user.tasks.active.count, "total task")
      %p= "#{pluralize(due_today.count, "task")} due today"
      %p= "#{pluralize(due_this_week.count, "task")} due this week"
