<%= provide(:title, "Manage Tasks") %>
<%= provide(:button_text, "Add") %>

<div class="split-layout">
  <%= render 'categories' %>
  <div class="aside">
    <%= render 'category_form' %>
    <div class="box">
      <div class="title-wrapper">
        <h2>Statistics</h2>
      </div>
      <div class="sub-box">
        <li><%= pluralize(total_tasks, "total task") %></li>
        <li><%= pluralize(overdue_tasks, "overdue task") %></li>
        <li><%= pluralize(today_tasks, "task") %> due today</li>
        <li><%= pluralize(week_tasks, "task") %> due this week</li>
      </div>
    </div>
  </div>
</div>
