<%= provide(:title, @category.title) %>

<h2><%= @category.title %></h2>
<ul class="list-items">
  <%= render 'categories/items/item' %>
</ul>
<%= render 'categories/items/item_form' %>
<%= link_to "Back", categories_path %>
