<%= provide(:title, @category.title) %>
<%= provide(:button_text, "Add") %>
<%= provide(:window_close, (link_to "", '#', class: "fa fa-window-close")) %>
<%= provide(:window_title, "New Task") %>

<div class="page-header">
  <h2 class="show-header">
    <%= @category.title %>
  </h2>
  <span class="new-category">
    <i class="fa fa-plus-square new-item-toggle"></i>
  </span>
  <span class="delete-category">
    <%= link_to "", @category, method: :delete, class: "fa fa-trash", data: { confirm: "Are you sure? All items inside '" + @category.title + "' will be lost." } %>
  </span>
  <span class="edit-category">
    <%= link_to "", edit_category_path(@category), class: "fa fa-pencil-square-o" %>
  </span>
</div>
<%= render 'shared/items' %>
<div class="new-item-form">
  <%= render 'categories/items/item_form' %>
</div>
<li><%= link_to "Back", categories_path %></li>
