<%= provide(:title, @category.title) %>

<h2>
  <%= @category.title %> <i class="fa fa-plus"></i></h2>
<ul class="list-items">
  <%= render 'categories/items/item' %>
</ul>
<%= render 'categories/items/item_form' %>
<li><%= link_to "Back", categories_path %></li>
