<%= provide(:title, @category.title) %>
<%= provide(:button_text, "Add") %>

<h2>
  <%= @category.title %> <i class="fa fa-plus new-item-toggle"></i>
</h2>
<%= render 'shared/items' %>
<div class="new-item-form">
  <%= render 'categories/items/item_form' %>
</div>
<li><%= link_to "Back", categories_path %></li>
