<header>
  <ul class="nav">
    <%= link_to "TaskLine", root_path, class: "logo" %>
    <% if signed_in? %>
      <li class="profile-link">
        <%= link_to user_path(current_user),
        class: "profile-link" do %>
          <%= image_tag current_user.picture.url,
          size: "39x39",
          class: "small-pic" %>
        <% end %>
      </li>
      <li><%= link_to "Manage Tasks", categories_path %></li>
      <li><%= link_to "Calendar", root_path %></li>
      <li><%= link_to "Teams", teams_path %></li>
      <li><%= link_to "Inbox", inbox_path %></li>
    <% else %>
      <li><%= link_to "Sign Up", signup_path, class: "edge-link" %></li>
    <% end %>
  </ul>
</header>
