!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= full_title(yield(:title))
    = render 'layouts/default_head'
    = render 'shared/shim'
  %body
    = render 'layouts/header'
    .content
      = render 'shared/flash'
      = yield
    = render 'layouts/footer'
